* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#survey-form {
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}
#container{
    width:50%;
}

.name-email-age {
    width: 20%;
}

label {
    font-weight: bold;
    margin: 5px 0 5px 0;
}

#number {
    margin-bottom: 10px;
}
#comment-box{

    width:80%;
    height:50%;
}
#comment-box:hover{
    border-bottom:2px solid yellow;
}

#submit{
    background-color: teal;
}
#submit:hover {
 background-color: steelblue;
}